.vs/TicketDepot/FileContentIndex/0aa67787-4a17-4f0f-a237-814990ce97e2.vsidx
.vs/TicketDepot/FileContentIndex/24481c4d-b04a-4eb1-9423-dd73c568b9f4.vsidx
.vs/TicketDepot/FileContentIndex/747e230f-fc23-4efa-9c84-2d7e1ce8f93f.vsidx
.vs/TicketDepot/FileContentIndex/858ea8eb-76a4-48b2-9016-dc93d6d7a5d5.vsidx
.vs/TicketDepot/FileContentIndex/a0969c57-5a1a-4d06-924d-f0a10c2314ff.vsidx
.vs/TicketDepot/FileContentIndex/ae7729a1-bb75-492e-a290-79a22a8104bd.vsidx
.vs/TicketDepot/v17/.suo
.vs/TicketDepot/v17/DocumentLayout.backup.json
.vs/TicketDepot/v17/DocumentLayout.json
TicketDepot.Respository/bin/Debug/net8.0/TicketDepot.Shared.dll
TicketDepot.Respository/bin/Debug/net8.0/TicketDepot.Shared.pdb
TicketDepot.Respository/bin/Debug/net8.0/TicketDepot.TicketManagement.Repository.dll
TicketDepot.Respository/bin/Debug/net8.0/TicketDepot.TicketManagement.Repository.pdb
TicketDepot.Respository/obj/Debug/net8.0/ref/TicketDepot.TicketManagement.Repository.dll
TicketDepot.Respository/obj/Debug/net8.0/refint/TicketDepot.TicketManagement.Repository.dll
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.AssemblyInfo.cs
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.AssemblyInfoInputs.cache
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.assets.cache
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.csproj.AssemblyReference.cache
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.csproj.CoreCompileInputs.cache
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.csproj.FileListAbsolute.txt
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.dll
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.GeneratedMSBuildEditorConfig.editorconfig
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.pdb
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.sourcelink.json
TicketDepot.Respository/obj/project.assets.json
TicketDepot.Respository/obj/project.nuget.cache
TicketDepot.Respository/obj/TicketDepot.TicketManagement.Repository.csproj.nuget.dgspec.json
TicketDepot.Shared/bin/Debug/net8.0/TicketDepot.Shared.dll
TicketDepot.Shared/bin/Debug/net8.0/TicketDepot.Shared.pdb
TicketDepot.Shared/obj/Debug/net8.0/ref/TicketDepot.Shared.dll
TicketDepot.Shared/obj/Debug/net8.0/refint/TicketDepot.Shared.dll
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.AssemblyInfo.cs
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.AssemblyInfoInputs.cache
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.assets.cache
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.csproj.FileListAbsolute.txt
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.dll
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.GeneratedMSBuildEditorConfig.editorconfig
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.pdb
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.sourcelink.json
TicketDepot.Shared/obj/project.assets.json
TicketDepot.Shared/obj/project.nuget.cache
TicketDepot.Shared/obj/TicketDepot.Shared.csproj.nuget.dgspec.json
TicketDepot.TicketManagement.Domain/bin/Debug/net8.0/TicketDepot.Shared.dll
TicketDepot.TicketManagement.Domain/bin/Debug/net8.0/TicketDepot.Shared.pdb
TicketDepot.TicketManagement.Domain/bin/Debug/net8.0/TicketDepot.TicketManagement.Domain.dll
TicketDepot.TicketManagement.Domain/bin/Debug/net8.0/TicketDepot.TicketManagement.Domain.pdb
TicketDepot.TicketManagement.Domain/bin/Debug/net8.0/TicketDepot.TicketManagement.Repository.dll
TicketDepot.TicketManagement.Domain/bin/Debug/net8.0/TicketDepot.TicketManagement.Repository.pdb
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/ref/TicketDepot.TicketManagement.Domain.dll
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/refint/TicketDepot.TicketManagement.Domain.dll
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.AssemblyInfo.cs
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.AssemblyInfoInputs.cache
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.assets.cache
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.csproj.AssemblyReference.cache
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.csproj.CoreCompileInputs.cache
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.csproj.FileListAbsolute.txt
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.dll
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.GeneratedMSBuildEditorConfig.editorconfig
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.pdb
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.sourcelink.json
TicketDepot.TicketManagement.Domain/obj/project.assets.json
TicketDepot.TicketManagement.Domain/obj/project.nuget.cache
TicketDepot.TicketManagement.Domain/obj/TicketDepot.TicketManagement.Domain.csproj.nuget.dgspec.json
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/appsettings.json
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.Shared.dll
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.Shared.pdb
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.TicketManagement.Domain.dll
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.TicketManagement.Domain.pdb
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.TicketManagement.Repository.dll
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.TicketManagement.Repository.pdb
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.TicketManagement.WebApi.dll
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.TicketManagement.WebApi.exe
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.TicketManagement.WebApi.pdb
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/apphost.exe
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/ref/TicketDepot.TicketManagement.WebApi.dll
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/refint/TicketDepot.TicketManagement.WebApi.dll
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/rpswa.dswa.cache.json
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.AssemblyInfo.cs
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.AssemblyInfoInputs.cache
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.assets.cache
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.csproj.AssemblyReference.cache
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.csproj.CoreCompileInputs.cache
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.csproj.FileListAbsolute.txt
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.dll
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.GeneratedMSBuildEditorConfig.editorconfig
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.genruntimeconfig.cache
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.pdb
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.sourcelink.json
TicketDepot.TicketManagement.WebApi/obj/project.assets.json
TicketDepot.TicketManagement.WebApi/obj/project.nuget.cache
TicketDepot.TicketManagement.WebApi/obj/TicketDepot.TicketManagement.WebApi.csproj.nuget.dgspec.json
.vs/TicketDepot/FileContentIndex/24481c4d-b04a-4eb1-9423-dd73c568b9f4.vsidx
.vs/TicketDepot/FileContentIndex/a0969c57-5a1a-4d06-924d-f0a10c2314ff.vsidx
.vs/TicketDepot/FileContentIndex/ae7729a1-bb75-492e-a290-79a22a8104bd.vsidx
.vs/TicketDepot/v17/.suo
.vs/TicketDepot/v17/DocumentLayout.backup.json
.vs/TicketDepot/v17/DocumentLayout.json
TicketDepot.Respository/bin/Debug/net8.0/TicketDepot.Shared.dll
TicketDepot.Respository/bin/Debug/net8.0/TicketDepot.Shared.pdb
TicketDepot.Respository/bin/Debug/net8.0/TicketDepot.TicketManagement.Repository.dll
TicketDepot.Respository/bin/Debug/net8.0/TicketDepot.TicketManagement.Repository.pdb
TicketDepot.Respository/obj/Debug/net8.0/ref/TicketDepot.TicketManagement.Repository.dll
TicketDepot.Respository/obj/Debug/net8.0/refint/TicketDepot.TicketManagement.Repository.dll
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.AssemblyInfo.cs
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.AssemblyInfoInputs.cache
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.assets.cache
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.csproj.AssemblyReference.cache
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.csproj.CoreCompileInputs.cache
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.csproj.FileListAbsolute.txt
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.dll
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.GeneratedMSBuildEditorConfig.editorconfig
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.pdb
TicketDepot.Respository/obj/Debug/net8.0/TicketDepot.TicketManagement.Repository.sourcelink.json
TicketDepot.Respository/obj/project.assets.json
TicketDepot.Respository/obj/project.nuget.cache
TicketDepot.Respository/obj/TicketDepot.TicketManagement.Repository.csproj.nuget.dgspec.json
TicketDepot.Shared/bin/Debug/net8.0/TicketDepot.Shared.dll
TicketDepot.Shared/bin/Debug/net8.0/TicketDepot.Shared.pdb
TicketDepot.Shared/obj/Debug/net8.0/ref/TicketDepot.Shared.dll
TicketDepot.Shared/obj/Debug/net8.0/refint/TicketDepot.Shared.dll
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.AssemblyInfo.cs
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.AssemblyInfoInputs.cache
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.assets.cache
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.csproj.FileListAbsolute.txt
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.dll
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.GeneratedMSBuildEditorConfig.editorconfig
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.pdb
TicketDepot.Shared/obj/Debug/net8.0/TicketDepot.Shared.sourcelink.json
TicketDepot.Shared/obj/project.assets.json
TicketDepot.Shared/obj/project.nuget.cache
TicketDepot.Shared/obj/TicketDepot.Shared.csproj.nuget.dgspec.json
TicketDepot.TicketManagement.Domain/bin/Debug/net8.0/TicketDepot.Shared.dll
TicketDepot.TicketManagement.Domain/bin/Debug/net8.0/TicketDepot.Shared.pdb
TicketDepot.TicketManagement.Domain/bin/Debug/net8.0/TicketDepot.TicketManagement.Domain.dll
TicketDepot.TicketManagement.Domain/bin/Debug/net8.0/TicketDepot.TicketManagement.Domain.pdb
TicketDepot.TicketManagement.Domain/bin/Debug/net8.0/TicketDepot.TicketManagement.Repository.dll
TicketDepot.TicketManagement.Domain/bin/Debug/net8.0/TicketDepot.TicketManagement.Repository.pdb
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/ref/TicketDepot.TicketManagement.Domain.dll
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/refint/TicketDepot.TicketManagement.Domain.dll
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.AssemblyInfo.cs
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.AssemblyInfoInputs.cache
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.assets.cache
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.csproj.AssemblyReference.cache
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.csproj.CoreCompileInputs.cache
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.csproj.FileListAbsolute.txt
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.dll
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.GeneratedMSBuildEditorConfig.editorconfig
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.pdb
TicketDepot.TicketManagement.Domain/obj/Debug/net8.0/TicketDepot.TicketManagement.Domain.sourcelink.json
TicketDepot.TicketManagement.Domain/obj/project.assets.json
TicketDepot.TicketManagement.Domain/obj/project.nuget.cache
TicketDepot.TicketManagement.Domain/obj/TicketDepot.TicketManagement.Domain.csproj.nuget.dgspec.json
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/appsettings.json
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.Shared.dll
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.Shared.pdb
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.TicketManagement.Domain.dll
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.TicketManagement.Domain.pdb
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.TicketManagement.Repository.dll
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.TicketManagement.Repository.pdb
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.TicketManagement.WebApi.dll
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.TicketManagement.WebApi.exe
TicketDepot.TicketManagement.WebApi/bin/Debug/net8.0/TicketDepot.TicketManagement.WebApi.pdb
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/apphost.exe
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/ref/TicketDepot.TicketManagement.WebApi.dll
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/refint/TicketDepot.TicketManagement.WebApi.dll
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/rpswa.dswa.cache.json
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.AssemblyInfo.cs
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.AssemblyInfoInputs.cache
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.assets.cache
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.csproj.AssemblyReference.cache
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.csproj.CoreCompileInputs.cache
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.csproj.FileListAbsolute.txt
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.dll
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.GeneratedMSBuildEditorConfig.editorconfig
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.genruntimeconfig.cache
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.pdb
TicketDepot.TicketManagement.WebApi/obj/Debug/net8.0/TicketDepot.TicketManagement.WebApi.sourcelink.json
TicketDepot.TicketManagement.WebApi/obj/project.assets.json
TicketDepot.TicketManagement.WebApi/obj/project.nuget.cache
TicketDepot.TicketManagement.WebApi/obj/TicketDepot.TicketManagement.WebApi.csproj.nuget.dgspec.json
